@{
    ViewData["Title"] = "Домашняя работа №1";
}

<h3>Выберите файл для загрузки</h3>
<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="FileUpload">
    <div class="form-group">
        <div class="col-md-10">
            <p>Загрузите один или несколько файлов</p>
            <input type="file" name="files" multiple />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Загрузить" />
        </div>
    </div>
</form>
