@model WebServicesDZ1.Models.FilesClass
@{
    ViewData["Title"] = "Домашняя работа №1";
}

<div>
    <h3>Выберите файл для загрузки</h3>
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="FileUpload">
        <div class="form-group">
            <div class="col-md-10">
                <p>Загрузите один или несколько файлов</p>
                <input type="file" name="files" multiple />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Загрузить" />
            </div>
        </div>
    </form>
</div>
<div>
    <h3>Ваши файлы</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Название файла</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FileInfos)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        <a asp-action="GetVirtualFile" asp-controller="Home" asp-route-nameFile="@item.Name" class="btn btn-sm btn-success">Скачать</a>
                        <a href="javascript:;" class="btn btn-sm btn-danger">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
